<html>

<body>
    <h1>Temp Stabilizer 2018 - Summary</h1>

    <table border="1" cellspacing="0" bordercolorlight="#0FFFFF" bordercolordark="#0FFFFF">'
        <!-- First header row -->
        <tr>
            <th colspan="{{ table.listColumnsConfig_len }}">config_nodes.py</th>
            <th colspan="{{ table.listColumnsGrafana_len }}">live nodes</th>
        </tr>
        <!-- Second header row -->
        <tr>
            {% for s, funcDummy in table.listColumnsAll %}
            <th>{{ s }}</th>
            {% endfor %}
        </tr>

        {% for s in table.listNodeLines %}
        <!-- Nodes: {{ s }} -->
        {% endfor %}

        {% for row in table.listRows %}
        <tr>
            {% for cell in row.listCells %}
                {{ cell }}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</body>

</html>